.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0 15px;
  border-bottom: 1px solid #333;
  z-index: 1;
}

.navbar h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}

.nav-links {
  width: 35%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 15px;
}

.link {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 2px;
}

.link:hover {
  border-bottom: 1px #333 solid;
}

.nav-burger {
  display: block;
  cursor: pointer;
}

.nav-burger-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0px 5px;
}

.nav-burger-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 15px;
  position: absolute;
  right: 0px;
  top: 85px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  border: 3px solid #333;
}

@media (max-width: 900px) {
  .navbar {
    width: 95%;
    margin: 0 0 0 2.5%;
  }
}

@media (max-width: 850px){
  .nav-links {
    width: 45%;
  }
}

@media (max-width: 600px){
  .nav-links {
    width: 50%;
  }
}