.project {
    margin-top: 15px;
}

.project-header {
    display: flex;
    align-items: center;
}

.project-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
}

.project-icon {
    font-size: 18px;
    margin-left: 15px;
}

.project-technologies {
    display: flex;
    flex-wrap: wrap;
}

.project-technology {
    margin-top: 10px;
    margin-right: 15px;
    padding: 4px;
    font-size: 15px;
    line-height: 1.5;
    border: 2px #333 solid;
}

.project-p {
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.5;
}

.project-img {
    display: flex;
    width: 100%;
    margin: 15px auto 10px;
}

.project-btn {
    display: flex;
    margin: 15px auto 0;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

.project-btn:focus {
    outline: none;
}

.project-btn:hover{
    font-size: 22px;
}