@import 'https://fonts.googleapis.com/css2?family=Montserrat';
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(228, 218, 218);
    color: #333;
}

.content {
    max-width: 900px;
    margin: 40px auto;
}

.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

@media (max-width: 900px) {
    .content {
        width: 95%;
        margin: 40px 0 0 2.5%;
    }
}